body{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: linear-gradient(to right,#4b79a1,#283e51);
}
.main-div{
    width: 800px;
    height: 380px;
    /*background-color: red;*/
    display: flex;
    align-content: center;
    justify-content: center;
    justify-content: space-between;
}
.left-section{
    width: 25%;
    height: 100%;
    background-color:#1d204b;
    border-radius: 20px;
}
.report-section{
    width: 100%;
    height: 65%;
    background-color: #5746ea;
    border-radius: 20px;
}
.report-section > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 30px 0 30px 15px;
    border: 3px solid white;
}
.report-section > p{
    margin: 0 0 0 15px;
    color: rgb(227, 227, 227);
    font-weight: lighter;
    font-size: 12px;
}
.report-section > h2{
    margin: 0 0 0 15px;
    color: white;
    font-weight: bold;
    font-family: 'Calibri';
    padding: 0;
}
.left-section > a{
    display: block;
    margin: 15px 0 15px 15px;
    text-decoration: none;
    color: rgb(190, 190, 190);
    font-size: 12px;
}
.left-section > a:hover{
    font-weight: bold;
    color: #fdbb2d;
}
.right-section{
    width: 72%;
    height: 100%;
    /*background-color: #0022ff;*/
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
}
.right-uper{
    width: 100%;
    height: 50%;
    /*background-color: #b21f1f;*/
    display: flex;
    justify-content:space-around;
}
.right-lower{
    width: 100%;
    height: 50%;
   /* background-color: #2d2a2a;*/
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.right-Boxes{
    width: 170px;
    height: 170px;
    background-color: aliceblue;
    border-radius: 20px;
}
.right-1{
    background-color: #ff8b63;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.right-2{
    background-color:#56c2e6;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.right-3{
    background-color:#fe5f7f;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.right-4{
    background-color: #4bd082;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.right-5{
    background-color: #7235d2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.right-6{
    background-color: #f1c75b;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.small-boxes{
    width: 100%;
    height: 85%;
    background-color: #1d204b;
    border-radius: 20px;
    position: relative;
}
.small-boxes > p {
    display: inline-block;
    margin:15px 0 0 15px;
    padding-right: 50px;
    color: white;
    font-family: 'Calibri';
    font-weight: lighter;
}
.small-boxes > i {
    color: white;
    position: absolute;
    right: 20px;
    top: 15px;
}
.small-boxes > i:hover {
    color:#fdbb2d;
    cursor: pointer;
}
.small-boxes > h1{
    margin: 30px 0 0 15px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
.small-boxes > span{
    color: rgb(219, 219, 219);
    margin-left: 15px;
    font-size: 10px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}